section.gallery {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;

  margin-inline: auto;

  & header {
    text-align: center;
  }

  & header span {
    font: 500 var(--text-sm) / 1.5 var(--ff-base);
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .content {
    display: grid;
    grid-template-areas:
      "A B B"
      "C C D";

    margin-top: 2rem;
    gap: 2.5rem;
  }

  & figure {
    position: relative;
    overflow: hidden;

    line-height: 0;
    border-radius: 40px;

    animation: image-appear linear backwards;
    animation-timeline: view();
    animation-range: 100px 300px;

    &[data-delay] {
      animation-range: 150px 350px;
    }

    & > img {
      object-fit: cover;
      height: 25rem;

      transition: scale 500ms;
    }

    &:hover {
      & > img {
        scale: 1.1;
      }

      & figcaption {
        transform: translateY(0);
      }
    }

    &:nth-child(1) {
      grid-area: A;
    }

    &:nth-child(2) {
      grid-area: B;
    }

    &:nth-child(3) {
      grid-area: C;
    }

    &:nth-child(4) {
      grid-area: D;
    }
  }

  & figcaption {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    padding: 1.5rem 2rem;
    gap: 0.5rem;

    font: 500 var(--text-sm) / 1.5 var(--ff-base);
    color: white;

    transform: translateY(100%);
    transition: transform 500ms;

    background: linear-gradient(to top, rgb(0 0 0 / 0.64), rgb(0 0 0 / 0));

    & img {
      aspect-ratio: 1/1;
      object-fit: cover;

      width: 2rem;
      border-radius: 50%;
    }
  }
}

@media (width <= 1280px) {
  section.gallery {
    padding: 1.5rem;

    & header {
      & span {
        font-size: 0.75rem;
      }

      & h2 {
        font-size: 2rem;
      }
    }

    & .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & figure {
      width: 100%;
      max-width: 20rem;
      height: 18rem;
      margin-inline: auto;

      & > img {
        object-fit: cover;

        width: 100%;
        height: 100%;
      }

      &[data-delay] {
        animation-range: 100px 300px;
      }
    }
  }
}

@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}
